body{
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: xx-large;
    color: #ffee00;
}

canvas{
    background-color: black;
    border: solid white;

}

html{display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}