body {
    background-color: rgb(254, 255, 211);
}

html{display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}

#reply{
    font-size: 25px;
}

#dica{
    color: rgb(104, 148, 0);
}

#link{
    color: rgb(141, 114, 151);
}

h1{
    color: rgb(255, 0, 76);
}