body{background-color: rgb(251, 255, 214);}

#titulo{color: rgb(255, 0, 64);
        font-size: 60px;}

a:hover{color:rgb(76, 158, 0)}

ul{list-style-position: outside;
   list-style-type: circle;
   overflow: visible;}

.cor{color: rgb(91, 114, 95)}

.kaomoji{color: rgb(55, 158, 110)}

th{color: rgb(255, 0, 98);
   font-size: 30px;}

table, tr, th, td{border: 1px solid rgb(79, 122, 79)}

html{display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}