body{
    background-color: rgb(201, 255, 158);
}

h1{
    font-size: xx-large;
    color: crimson;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}