<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta charset="utf-8">
        <link href="blog.css" rel="stylesheet">
    </head>
    <body>
        <h1>Twitter 2</h1>

        <br>

        <p id="novo"><a href="cadastrar_post.html">Criar Post</a></p>

        <br>
        

        <%for (let i = 0; i < posts.length; i++){%>
        <div id="post">
        <p>Titúlo: <%= posts[i].db_titulo %></p>
        <p>Resumo: <%= posts[i].db_resumo %></p>
        <p>Conteúdo: <%= posts[i].db_conteudo %></p>
        </div>
        <br>
        <% } %>
         
    </body>
</html>