<!DOCTYPE html>
<html>
    <head>
        <title>Blog<title>
        <meta charset="UTF-8">
        <link href="blog.css" rel="stylesheet">
    </head>
    <body>
        <input type="button" value="Criar Post" onclick="resp()" id="criar_post">
        <h1>Twitter so que não</h1>
        <div>
            <p>Titulo: <%= titulo %> </p>
            <p>Resumo: <%= resumo %></p>
            <p>Conteudo: <%= conteudo %></p>
        </div>
        <script src="blog.js" type="text/javascript"></script>
    </body>
</html>