<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta charset="utf-8">
        <link href="blog.css" rel="stylesheet">
    </head>
    <body>
        <h1>Carros</h1>

        <br>

        <p id="novo"><a href="cadastrar_post.html">Criar Post</a></p>

        <br>
        

        <%for (let i = 0; i < posts.length; i++){%>
        <div id="post">
        <p>Marca: <%= posts[i].db_marca %></p>
        <p>Modelo: <%= posts[i].db_modelo %></p>
        <p>Ano: <%= posts[i].db_ano %></p>
        <p>Quantidade: <%= posts[i].db_qtd_disponvel %></p>
        </div>
        <br>
        <% } %>
         
    </body>
</html>