<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="utf-8">
        <link href="cadastro.css" rel="stylesheet">
    </head>
</head>
<body>
    <h1><%= resposta %></h1>
</body>
</html>